{% extends "base.html" %}
        {% block sidebar %}
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/articles">
              <span data-feather="file-text"></span>
              Articles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/questionnaire">
              <span data-feather="check-square"></span>
              Questionnaires
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="rss"></span>
              Feeds
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Administrative</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="log-in"></span>
              Medical Institutions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="log-in"></span>
              Medical Vendors
            </a>
          </li>
        </ul>
        {% endblock %}

        {% block main_content %}
        <h1 class="h2">How to Wear and Take Off a Non-Medical Mask or Cloth Face Covering</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>
      
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">To put it on</h5>
            <p class="card-text">
                <ol>
                    <li>Wash your hands for 20 seconds with soap and water or use an alcohol-based hand rub</li>
                    <li>Put mask over your nose and mouth and secure it under your chin (do not touch the inside of the mask that will be against your face)</li>
                    <li>Try to fit it securely against your face</li>
                    <li>Tie the strings behind your head or stretch the elastic loops over your ears</li>
                    <li>Make sure you can breathe easily</li>
                </ol>
            </p>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/global-covid-19/how-to-wear-take-off-mask.html">Source</a>
          </div>
        </div>
        <p></p>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">To take it off</h5>
            <p class="card-text">
                <ol>
                    <li>Untie the strings behind your head or stretch the loops over your ears</li>
                    <li>Handle only the ties or the loops of the mask</li>
                    <li>Fold the outside corners making sure not to touch the outside of the mask</li>
                    <li>Place mask in a separate bag until you can get to a place where you can wash it with bleach solution</li>
                    <li>Wash your hands with water and soap for 20 seconds or use an alcohol-based hand rub</li>
                </ol>
            </p>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/global-covid-19/how-to-wear-take-off-mask.html">Source</a>
          </div>
        </div>
        <p></p>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Using a mask or cloth face covering</h5>
            <p class="card-text">
                <ol>
                    <li>Always keep the mask on your face and stay 2 m apart from people you do not live with</li>
                    <li>Ensure the mask is covering your mouth and nose</li>
                    <li>Do not touch the mask. If you do, wash your hands for 20 seconds</li>
                    <li>Do not put the mask around your neck or up on your forehead</li>
                </ol>
            </p>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/global-covid-19/how-to-wear-take-off-mask.html">Source</a>
          </div>
        </div>

      {% endblock %}
