{% extends "base.html" %}
        {% block sidebar %}
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/articles">
              <span data-feather="file-text"></span>
              Articles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/questionnaire">
              <span data-feather="check-square"></span>
              Questionnaires
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="rss"></span>
              Feeds
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Administrative</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/login/mi">
              <span data-feather="log-in"></span>
              Medical Institutions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login/ms">
              <span data-feather="log-in"></span>
              Medical Vendors
            </a>
          </li>
        </ul>
        {% endblock %}

        {% block main_content %}
        <h1 class="h2">Steps to wash hands</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>
      
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Steps to wash hands</h5>
            <p class="card-text">
                <ol>
                    <li>Wet hands with water</li>
                    <li>Apply enough soap to cover all hand surfaces</li>
                    <li>Rub hands together and scrub everywhere</li>
                    <li>Wash the front and back of your hands, in between your fingers, and under your nails</li>
                    <li>Rinse hands with water</li>
                    <li>Dry hands completely using a single-use towel or air dry</li>
                </ol>
            </p>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/global-covid-19/handwashing.html" class="card-link">Source</a>
          </div>
        </div>

      {% endblock %}
