{% extends "base.html" %}
        {% block sidebar %}
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="file-text"></span>
              Articles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/questionnaire">
              <span data-feather="check-square"></span>
              Questionnaires
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="rss"></span>
              Feeds
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Administrative</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="log-in"></span>
              Medical Institutions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="log-in"></span>
              Medical Vendors
            </a>
          </li>
        </ul>
        {% endblock %}

        {% block main_content %}
        <h1 class="h2">Articles</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Steps to wash hands</h5>
                <p class="card-text">Wash hands with soap and water for at least 20 seconds. Use the cleanest water possible, for example from an improved source. Use an alcohol-based hand rub that contains 60% alcohol if soap and water are not available.</p>
                <a href="/articles/1" class="btn btn-primary">Read Handwashing</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Masking</h5>
                <p class="card-text">How to Wear and Take Off a Non-Medical Mask or Cloth Face Covering</p>
                <a href="/articles/2" class="btn btn-primary">Read Masking</a>
              </div>
            </div>
          </div>
        </div>
    {% endblock %}
