{% extends "base.html" %}
        {% block sidebar %}
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/articles">
              <span data-feather="file-text"></span>
              Articles
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/questionnaire">
              <span data-feather="check-square"></span>
              Questionnaires
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="rss"></span>
              Feeds
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Administrative</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/login/mi">
              <span data-feather="log-in"></span>
              Medical Institutions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login/ms">
              <span data-feather="log-in"></span>
              Medical Vendors
            </a>
          </li>
        </ul>
      {% endblock %}

        {% block main_content %}
        <h1 class="h2">Coronavirus Disease (COVID-19)</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Symptoms</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Tips</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            COVID-19 health information:
            <ul>
            <li>Symptoms: fever, cough, shortness of breath</li>
            <li>Complications: pneumonia, Acute respiratory distress syndrome (ARDS), kidney failure</li>
            <li>Risk Factors: age, serious underlying medical conditions (e.g. heart disease, diabetes, lung disease, etc)</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          Tips from the World Health Organization:
            <ul>
            <li>Wash your hands frequently</li>
            <li>Avoid touching your face</li>
            <li>Sneeze and cough into a tissue or your elbow</li>
            <li>Avoid crowds and standing near others</li>
            <li>Stay home if you think you might be sick</li>
            <li>If you have a fever, cough, or difficulty breathing, follow advice given by your government's health authority</li>
            </ul>
          </div>
        </div>
        {% endblock %}
